@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'My Font', sans-serif;
  }

  #user-photo {
    width: 216px;
    height: 216px;
    object-fit: cover;
  }

  #output-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  
  
  