@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'My Font', sans-serif;
  }
  